.expense-date {
    width: 6.5rem;
    height: 6.5rem;
    border: .1rem solid #ececec;
    border-radius: .5rem;
    background: #2a2a2a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}