.expense-form .input-controls label {
    color:white;
    font-size: 2rem;
}

.expense-form .input-controls input {
    width: 50%;
    padding: 1rem 0;
    margin: 1rem 0;
}

.expense-form  button {
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: white;
    background: #30336b;
    cursor: pointer;
}